<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') -%>

	</head>
	<body class="host_version">

		<!-- LOADER -->
		<div id="preloader">
			<div class="loader-container">
				<div class="progress-br float shadow">
					<div class="progress__item"></div>
				</div>
			</div>
		</div>
		<!-- END LOADER -->

		<!-- Start header -->
		<%- include('partials/_navigation') -%>
			<!-- End header -->
			<% if(user.role==='student'){ %>
				<%- include('dashboard-student') -%>	
			<% } %>
			<% if(user.role==='teacher'){ %>
				<%- include('dashboard-teacher') -%>	
			<% } %>
			<% if(user.role==='admin'){ %>
				<%- include('dashboard-admin') -%>	
			<% } %>






							<%- include('partials/_footer') -%>
								<!-- end footer -->

								<div class="copyrights">
									<div class="container">
										<div class="footer-distributed">
											<div class="footer-center">
												<p class="footer-company-name">All Rights
													Reserved. &copy; 2018 <a
														href="#">SmartEDU</a> Design By : <a
														href="https://html.design/">html
														design</a></p>
											</div>
										</div>
									</div><!-- end container -->
								</div><!-- end copyrights -->

								<a href="#" id="scroll-to-top" class="dmtop global-radius"><i
										class="fa fa-angle-up"></i></a>

								<!-- ALL JS FILES -->
								<script src="/js/all.js"></script>
								<!-- ALL PLUGINS -->
								<script src="/js/custom.js"></script>

	</body>

</html>